<div class="container">
  <div class="header">
    Edit Note
  </div>
  <ul class="list-group">
    <li class="character-list list-group-item rounded">
      <div class="character-list-name">{{character?.name}}</div>
      <div class="character-list-main">
        <div><img src="{{character?.img}}"></div>
        <div class="character-list-main-trauma">
          <div class="character-list-main-trauma-item">
            <div class="trauma-section">
              <span>Physical Trauma: </span>
              <span *ngFor="let phys of physTrauma"><img src="../../../assets/physical.jpg"></span>
            </div>
            <div class="buttons-incdec">
              <button class="btn btn-incdec" (click)="decrementTrauma(1)">-1</button>
              <button class="btn btn-incdec" (click)="incrementTrauma(1)">+1</button>
            </div>
          </div>
  
          <div class="character-list-main-trauma-item">
            <div class="trauma-section">
              <span>Mental Trauma: </span>
              <span *ngFor="let men of menTrauma"><img src="../../../assets/horror.jpg"></span>
            </div>
            <div class="buttons-incdec">
              <button class="btn btn-incdec" (click)="decrementTrauma(2)">-1</button>
              <button class="btn btn-incdec" (click)="incrementTrauma(2)">+1</button>
            </div>
          </div>

          <div class="character-list-main-trauma-xp">
            <div>
              <span>Unused XP: </span>
              <span>{{character?.unusedXP}}</span>              
            </div>
            <div class="buttons-incdec"> 
              <button class="btn btn-incdec" (click)="decrementXP()">-1</button>
              <button class="btn btn-incdec" (click)="incrementXP()">+1</button>
            </div>
          </div>

        </div>
      </div>
    </li>
  </ul>
  <div class="buttons-section">
    <div>
      <button (click)="goBack()" class="btn btn-back">BACK</button>
      <button (click)="deleteCharacter()" class="btn btn-back">KILL CHARACTER!</button>
    </div>
    <button (click)="editCharacter()" class="btn btn-submit">SAVE</button>
  </div>
</div>
