@import '../../shared/variables/variables';
@import '../../shared/mixins/flexbox';

.forms {
  width: 100%;
  @include flexbox($justify: space-between);
  .char-form-wrapper {
    width: 64%;
    background-color: $characterBackgroundColor;
    padding: 5px;
    .form-group {
      .text {
        color: $fontColorSecondary;
      }
    }
  }
  .inv-form-wrapper {
    width: 34%;
  }
}