@import '../../shared/variables/variables';
@import '../../shared/mixins/flexbox';

.forms {
  width: 100%;
  @include flexbox($justify: space-between);
  .char-form-wrapper {
    width: 64%;
    background-color: $characterBackgroundColor;
    padding: 5px;
    .form-group {
      .text {
        color: $fontColorSecondary;
      }
    }
  }
  .inv-form-wrapper {
    width: 34%;
    background-color: $characterBackgroundColor;
    padding: 5px;
    .form-group {
      .text {
        margin-top: 5px;
        color: $fontColorSecondary;
      }
      .btn-success {
        margin-top: 20px;
        background-color: $buttonBackgroundColor;
        color: $fontColorSecondary;
      }
      .btn-success:hover {
        background-color: $buttonBackgroundColorHover;
      }
    }
  }
}