@import '../../shared/variables/variables';
@import '../../shared/mixins/flexbox';

.container {
  .campaign-details {
    &-main {
      @include flexbox($justify: space-between);
      &-header {
        background-color: $itemBackgroundColorSecondary;
        color: $fontColorPrimary;
        text-align: center;
        padding: 15px;
        font-size: 1.5rem;
        margin-bottom: 15px;
      }
      &-char {
        width: 49%;
        .btn {
          background-color: $buttonBackgroundColor;
          color: $fontColorSecondary;
          margin-bottom: 30px;
        }
        .btn:hover {
          background-color: $buttonBackgroundColorHover;
        }
      }
      &-notes {
        width: 49%;
        .btn {
          background-color: $buttonBackgroundColor;
          color: $fontColorSecondary;
        }
        .btn:hover {
          background-color: $buttonBackgroundColorHover;
        }
      }
    }
    &-header {
      width: 100%;
      @include flexbox($justify: space-between, $align: center);
      background-color: $itemBackgroundColorSecondary;
      color: $fontColorPrimary;
      margin-bottom: 20px;
      padding: 10px;
      font-size: 2.4rem;
      &-name {
        cursor: auto;
        margin-right: 10px;
      }
      &-scenario {
        @include flexbox($direction: row, $align: center);
        .span-header-text {
          font-size: 1.3rem;
          margin-right: 10px;
        }
        .btn {
          background-color: $buttonBackgroundColor;
          color: $fontColorSecondary;
        }
        .btn:hover {
          background-color: $buttonBackgroundColorHover;
          color: $fontColorSecondary;
        }
      }
    }
  }
  .buttons-section {
    @include flexbox($justify: space-between);
    .text-error {
      color: $fontColorError;
      margin-right: 10px;
      font-size: 1.3rem;
    }
    .btn-back {
      background-color: $buttonBackgroundColorBack;
      color: $fontColorSecondary;
    }
    .btn-back:hover {
      background-color: $buttonBackgroundColorBackHover;
    }
  }
}

input {
  background-color: $notesBackgroundColor;
  border: none;
  padding: 2px;
}

input:hover {
  background-color: $notesBackgroundColorSecondary;
}

input:checked {
  background-color: $notesBackgroundColor;
}

input:focus {
  background-color: $notesBackgroundColorSecondary;
}

