@import '../../shared/variables/variables';
@import '../../shared/mixins/flexbox';

.campaign-details {
  &-main {
    @include flexbox($justify: space-between);
    &-char {
      width: 49%;
    }
    &-notes {
      width: 49%;
    }
  }
  &-header {
    width: 100%;
    @include flexbox($justify: space-between);
    background-color: $characterBackgroundColor;
    color: $fontColorSecondary;
    margin-bottom: 20px;
  }
}

