@import '../../shared/variables/variables';
@import '../../shared/mixins/flexbox';

.container {
  height: 700px;
  .header {
    width: 100%;
    background-color: $itemBackgroundColorSecondary;
    color: $fontColorPrimary;
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  .campaign-list {
    background-color: $itemBackgroundColorMain;
    cursor: pointer;
    font-size: 1.2rem;
    margin-bottom: 10px;
    div {
      width: 100%;
    }
  }
  .btn {
    background-color: $buttonBackgroundColor;
    color: $fontColorPrimary;
  }
  .campaign-list:hover {
    background-color: $itemBackgroundColorMainHover;
  }
}
