@import '../../shared/variables/variables';
@import '../../shared/mixins/flexbox';

.container {
  height: 700px;
  .header {
    width: 100%;
    background-color: $itemBackgroundColorSecondary;
    color: $fontColorPrimary;
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  .campaign-list {
    background-color: $itemBackgroundColorMain;
    cursor: pointer;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: $fontColorTitle;
    div {
      width: 100%;
    }
  }
  .btn {
    background-color: $buttonBackgroundColor;
    color: $fontColorPrimary;
  }
  .btn:hover {
    background-color: $buttonBackgroundColorHover;
  }
  .campaign-list:hover {
    animation-name: animation;
    animation-duration: 1s;
    // animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    background-color: $itemBackgroundColorSecondary; 
    color: $fontColorSecondary;
  }
    
  @keyframes animation {
  0% {background-color: $itemBackgroundColorMain; color: $fontColorTitle;}
  20% {background-color: $itemBackgroundColorSecondaryHover; color: $fontColorPrimary}
  100% {background-color: $itemBackgroundColorSecondary; color: $fontColorSecondary}
  }
}
