<div class="container">
  <div class="header">
    <span>Welcome to Arkham Horror LCG companion app. A tool for manage your campaigns: character status, notes and more. Start by creating new campaign or choose existing one:</span>
  </div>
  <ul *ngFor="let campaign of campaigns" class="list-group">
    <li class="campaign-list list-group-item rounded" (click)="goToCampaignDetails(campaign.id)">
      <div>Campaign Name: {{campaign.name}}</div>
      <div>Current Scenario: {{campaign.currentScenario}}</div>
      <div>Start Date: {{campaign.date}}</div>
    </li>
  </ul>
  <button [routerLink]="['create-campaign']" class="btn">NEW CAMPAIGN</button>
</div>
