<div class="container">
  <ul [routerLink]="['']" *ngFor="let character of characters" class="list-group">
    <li class="character-list list-group-item rounded">
      <div>Name: {{character.name}}</div>
      <div><img src="{{character.img}}"></div>
      <div>Physical Trauma: {{character.physTrauma}}</div>
      <div>Mental Trauma: {{character.menTrauma}}</div>
      <button type="button" class="btn btn-secondary">
        <i class="fa fa-pencil" aria-hidden="true"></i> Edit
      </button>
      <button type="button" class="btn btn-danger">
        <i class="fa fa-trash-o" aria-hidden="true"></i> Remove
      </button>
    </li>
  </ul>
</div>
