<div class="container">
  <div class="header">
    Edit Note
  </div>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="text" id="note" value="{{note.body}}" formControlName="note" class="form-control">
      <div class="buttons-section">
        <button type="submit" class="btn btn-success">UPDATE</button>
        <button (click)="deleteNote()" class="btn btn-back">DELETE NOTE</button>
      </div>
    </div>
    <button (click)="goBack()" class="btn btn-back">BACK</button>
  </form>
</div>
