$itemBackgroundColorMain: rgba(#d5e2d7, 0.8);
$itemBackgroundColorSecondary: rgba(#0f260d, 0.6);

$notesBackgroundColor: rgba(#f1f1f1, 0.8);
$notesBackgroundColorSecondary: rgba(#f1f1f1, 0.9);

$characterBackgroundColor: rgba(#3a5659, 0.75);
$characterBackgroundColorSecondary: rgba(#3a5659, 0.6);

$buttonBackgroundColor: rgba(#55af4d, 0.7);
$buttonBackgroundColorSecondary: rgba(#8fbf94, 0.7);
$buttonBackgroundColorBack: rgba(#893d06, 0.9);
$buttonBackgroundColorBackHover: rgba(#893d06, 0.68);

$fontMain: 'Kanit', sans-serif;
$fontNotes: 'Kalam', cursive;

$fontColorTitle: #093805;
$fontColorPrimary: #ddffdb;
$fontColorSecondary: #ffffff;