<div class="container">
  <div class="campaign-form-wrapper">
    <form [formGroup]="campaignForm" (ngSubmit)="onCampaignFormSubmit()">
      <div class="form-group">
        <span class="text-primary">* </span><label class="text" for="name">Campaign Name: </label>
        <input class="form-control" type="text" id="name" formControlName="name">
        <span class="text-primary">* </span><label class="text" for="currentScenario">First Scenario: </label>
        <input class="form-control" type="text" id="currentScenario" formControlName="currentScenario">
        <button type="submit" class="btn btn-success">SUBMIT</button>
      </div>
    </form>
  </div>
  <button (click)="goBack()" class="btn btn-back">BACK</button>
</div>
