@import '../../shared/variables/variables';
@import '../../shared/mixins/flexbox';
@import '../../shared/mixins/button';

.campaign-form-wrapper {
  width: 100%;
  background-color: $characterBackgroundColor;
  padding: 5px;
  .form-group {
    .text {
      color: $fontColorSecondary;
    }
  }
}

input {
  background-color: $notesBackgroundColor;
  margin-bottom: 8px;
}
input:hover {
  background-color: $notesBackgroundColorSecondary;
}
input:checked {
  background-color: $notesBackgroundColor;
}
input:focus {
  background-color: $notesBackgroundColorSecondary;
}

.btn-back {
  @include button($buttonBackgroundColorBack, $buttonBackgroundColorBackHover);
  margin: 10px 10px 0 0;
}
.btn-success {
  @include button();
}